.banner--blogs {
    margin-top: 70px;
}

.blog_header {
    display: flex;
}

.icon__header--blog {
    color: #e94560;
    margin: 10px;
}

.blog__info {
    margin-left: 17px;
    margin-right: 15px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.blog__info:hover {
    box-shadow: rgb(43 52 69 / 100%) 0 4px 16px;
    transition: 0.4s;
}

.blog__img {
    width: 100%;
    margin-right: 10px;
    display: block;
    border-radius: 8px;
}

.blog__title {
    font-size: 20px;
}

.blog__desc {
    padding: 20px;
    line-height: 23px;
    font-weight: 300;
    margin-top: -20px;
}

.btn__blog {
    margin-bottom: 20px;
    font-size: 17px;
}
