.banner--contact {
    margin-top: 70px;
}

.contact__icon {
    text-align: center;
}

.contact__icon--all {
    background: #e94560;
    color: #fff;
    border-radius: 50%;
    margin: 0 auto;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height:50px;
}

.contact__content span {
    font-weight: 600;
}

.wrapper-contact {
    width: 100%;
    background-color: #fff;
} 

.form {
    padding: 35px;
}

.form-title {
    display: flex;
    font-weight: normal;
    font-size: 24px;
    text-decoration: underline #e94560 3px;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 17px;
}

.form__label {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 17px;
}

.form-control {
    font-size: 20px;
    border: none;
    border-bottom: 1px solid rgba(149, 147, 147, 0.2);
    padding: 0;
    width: 100%;
    height: 52px;
    background: transparent;
    display: block;
}

.form-email {
    font-size: 20px;
    border: none;
    border-bottom: 1px solid rgba(149, 147, 147, 0.2);
    padding: 0;
    width: 100%;
    height: 52px;
    background: transparent;
    display: block;
}

.form-group--mail {
    margin-left: 20px;
}

.btn-contact {
    margin: auto;
    margin-top: 20px;
}

.form-control:focus {
    border-bottom: 1px solid #e94560;
}

.contact-info {
    background-color: #fff;
    padding-top: 30px;
}

.contact__img {
    width: 100%;
    object-fit:cover; 
}

/* 
>= 992px -> col-lg-3
768px < x < 992px -> col-md-4
576px < x < 768px -> col-sm-6 */

@media (max-width: 992px) {
    .contact__icon {
        margin-bottom: 35px;
    }

    .form-group--mail {
        width: 100%;
         margin-left: 30px;
    }
}

@media (max-width: 768px) {
    .contact__icon {
        margin-bottom: 35px;
    }

    .form-group--mail {
        width: 100%;
         margin-left: 30px;
    }
    
}

@media (max-width: 576px) {
    .contact__icon {
        margin-bottom: 35px;
    }

    .form-group--mail {
        width: 100%;
        margin-left: 0;
      }
}

